{
	"presets": [
		[
			"env",
			{
				"targets": {
					"node": true
				}
			}
		]
	],
	"plugins": ["dynamic-import-node", "transform-object-rest-spread"],
	"env": {
		"production": {
			"presets": ["minify"]
		}
	}
}
