# node execution environment
NODE_ENV="develop"

# DEBUGGING
DEBUG="callforcode:*"

# Port for webserver
PORT=3000

# ibm natural language understanding services credential
NLU_USERNAME=""
NLU_PASSWORD=""

# ibm speech to text services credential
STT_USERNAME=""
STT_PASSWORD=""

# ibm translate services credential
TLE_IAM=""
